__pycache__/
*.py[cod]
*$py.class
.env
venv/
env/
.venv/
node_modules/
.DS_Store
/.idea/.gitignore
/shared/domain/__init__.py
/shared/__init__.py
/.idea/misc.xml
/.idea/modular-agent-platform.iml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
